---
layout: page
title: Veranstaltungen
parent: " "
---

<h3>Aktuelle Veranstaltungen {{now}}</h3>
<ul class="eventlist">
{% assign event_count = 0 %}
{% assign today = "now" | date: "%Y-%m-%d" %}
{% assign events = site.data.events | sort_natural: "date" | reverse %}
{% assign current_events = events | where_exp:"event", "event.date >= today" %}
{% for event in current_events %}
  <li>
    {{event.date | date: "%d.%m.%Y"}}, {{event.location}}, {{event.type}}<br />
    <strong>{{ event.title }}</strong>
    {{ event.subtitle }}{% if event.subtitle %}<br />{% endif %}
    <a href="{{event.url}}}" class="btn">Mehr erfahren &raquo;</a>
  </li>
  {% capture event_count %}{{ event_count | plus:1 }}{% endcapture %}
{% endfor %}
{% if event_count == 0 %}
  <li>Im Augenblick gibt es leider keine anstehenden Veranstaltungen.</li>
{% endif %}
</ul>

<h3>Veranstaltungsarchiv</h3>
<ul class="eventlist">
{% assign today = "now" | date: "%Y-%m-%d" %}
{% assign past_events = events | where_exp:"event", "event.date < today" %}
{% for event in past_events %}
  <li>
    {{event.date | date: "%d.%m.%Y"}}, {{event.location}}, {{event.type}}<br />
    <strong>{{ event.title }}</strong>
    {{ event.subtitle }}{% if event.subtitle %}<br />{% endif %}
    <a href="{{event.url}}}" class="btn">Mehr erfahren &raquo;</a>
  </li>
{% endfor %}
</ul>

<h3>Historie</h3>

<p>
  Erstes Kick-Off-Meeting der Kommission für Kartographie und Forschung, am <i>9.&nbsp;März&nbsp;2011</i>, an der HafenCity Universität Hamburg
  <figure>
    <img class="responsive" src="/images/historie.jpg" alt="Die Teilnehmer am KickOff-Meeting in Hamburg" />
    <figcaption>Die Teilnehmer am KickOff-Meeting in Hamburg (Foto: Kinkeldey, HCU Hamburg)</figcaption>
  </figure>
</p>