---
layout: page
title: Veranstaltungen
parent: " "
lang: de
shortTitle: Veranstaltungen
trans: true
---

<h3>Aktuelle Veranstaltungen</h3>
<ul class="eventlist">
{% assign event_count = 0 %}
{% assign today = "now" | date: "%Y-%m-%d" %}
{% assign events = site.data.events | sort_natural: "date" %}
{% assign current_events = events | where_exp:"event", "event.date >= today" %}
{% for event in current_events %}
  <li>
    {{event.date | date: "%d.%m.%Y"}}, {{event.location}}, {{event.type}}<br />
    <strong>{{ event.title }}</strong>
    {{ event.subtitle }}{% if event.subtitle %}<br />{% endif %}
    <a href="{{event.url}}" class="btn">Mehr erfahren &raquo;</a>
  </li>
  {% capture event_count %}{{ event_count | plus:1 }}{% endcapture %}
{% endfor %}
{% if event_count == 0 %}
  <li>Im Augenblick gibt es leider keine anstehenden Veranstaltungen.</li>
{% endif %}
</ul>

{% assign events = events | reverse %}

{% assign cevent_count = 0 %}
{% assign today = "now" | date: "%Y-%m-%d" %}
{% assign cevents = site.data.cartoedu | sort: "date" %}
{% assign ccurrent_events = cevents | where_exp:"event", "event.date >= today" %}
{% if ccurrent_events | size > 0 %}
<h3>Nächster CartoEdu</h3>
<ul class="eventlist">
{% for event in ccurrent_events %}
  {% if cevent_count == 0 %}
  <li>
    CartoEdu #{{event.num}} - {{event.date | date: "%d.%m.%Y"}} / {{ event.time }}<br />
    <strong>{{ event.topic }}</strong>
    {{ event.speaker }}
    {% if event.video_url %}<br />
    <a href="{{event.video_url}}" class="btn">Video-Link {% if event.video_pass %}(Passwort: {{ event.video_pass }}) {% endif %}&raquo;</a>
    {% endif %}
    {% if event.url %}<br />
    <a href="{{event.url}}" class="btn">Mehr erfahren &raquo;</a>
    {% endif %}
  </li>
  {% capture cevent_count %}{{ cevent_count | plus:1 }}{% endcapture %}
  {% endif %}
{% endfor %}
</ul>
<a style="font-weight:bold; color:green;" href="/de/events/cartoedu/">Alle CartoEdu Veranstaltungen &raquo;</a>
{% endif %}


{% assign cevent_count = 0 %}
{% assign today = "now" | date: "%Y-%m-%d" %}
{% assign cevents = site.data.cartohack | sort: "date" %}
{% assign ccurrent_events = cevents | where_exp:"event", "event.date >= today" %}
{% if ccurrent_events | size > 0 %}
<h3>Nächster CartoHack</h3>
<ul class="eventlist">
{% for event in ccurrent_events %}
  {% if cevent_count == 0 %}
  <li>
    CartoHack #{{event.num}} - {{event.date | date: "%d.%m.%Y"}} / {{ event.time }}<br />
    <strong>{{ event.topic }}</strong>
    {{ event.speaker }}
    {% if event.video_url %}<br />
    <a href="{{event.video_url}}" class="btn">Video-Link {% if event.video_pass %}(Passwort: {{ event.video_pass }}) {% endif %}&raquo;</a>
    {% endif %}
    {% if event.url %}<br />
    <a href="{{event.url}}" class="btn">Mehr erfahren &raquo;</a>
    {% endif %}
  </li>
  {% capture cevent_count %}{{ cevent_count | plus:1 }}{% endcapture %}
  {% endif %}
{% endfor %}
</ul>
<a style="font-weight:bold; color:green;" href="/de/events/cartohack/">Alle CartoHack Veranstaltungen &raquo;</a>
{% endif %}


<h3>Veranstaltungsarchiv</h3>
<ul class="eventlist">
{% assign today = "now" | date: "%Y-%m-%d" %}
{% assign past_events = events | where_exp:"event", "event.date < today" %}
{% for event in past_events %}
  <li>
    {{event.date | date: "%d.%m.%Y"}}, {{event.location}}, {{event.type}}<br />
    <strong>{{ event.title }}</strong>
    {{ event.subtitle }}{% if event.subtitle %}<br />{% endif %}
    <a href="{{event.url}}" class="btn">Mehr erfahren &raquo;</a>
  </li>
{% endfor %}
</ul>

<h3>Historie</h3>

<p>
  Erstes Kick-Off-Meeting der Kommission für Kartographie und Forschung, am <i>9.&nbsp;März&nbsp;2011</i>, an der HafenCity Universität Hamburg
  <figure>
    <img class="responsive" src="/images/historie.jpg" alt="Die Teilnehmer am KickOff-Meeting in Hamburg" />
    <figcaption>Die Teilnehmer am KickOff-Meeting in Hamburg (Foto: Kinkeldey, HCU Hamburg)</figcaption>
  </figure>
</p>