<section id="mobile-teaser">
  <div>
    <div id="mobile-teaser-img">
      <img src="{{ "/images/dgfk-logo.svg" | absolute_url }}" alt="DGfK" width="36" />
    </div>
    <div>
      <span><span>DGfK</span><br />Kommission Kartographie &&nbsp;Forschung</span>
    </div>
  </div>
</section>
<section id="teaser" class="page{% if page.subtitle %} with-subtitle{% endif %}">
  <h2><span>{{ page.parent }}</span></h2>
  <h1><span class="large">{{ page.title }}</span></h1>
  {% if page.subtitle %}<h2><span>{{ page.subtitle }}</span></h2>{% endif %}
</section>