<!DOCTYPE html>
<html lang="{{ page.lang }}" itemscope itemtype="http://schema.org/Article">
{% include header.html %}
<body>
  <div class="off-canvas off-canvas-sidebar-show">
    <a class="off-canvas-toggle btn btn-primary btn-action" href="#sidebar-id">
      <i class="icon icon-menu"></i>
    </a>
  
    <div id="sidebar-id" class="off-canvas-sidebar">
      <a id="close_btn" href="#close"><img src="{{ "/images/close.svg" | absolute_url }}" alt="Menü schließen"></a>
      <div id="logo-section">
        <div>
          <div><img src="{{ "/images/dgfk-logo.svg" | absolute_url }}" alt="DGfK" width="45" height="63" /></div>
          <div>{{ site.data.translations[page.lang].society }}</div>
        </div>
      </div>
      <hr />
      <div id="comission-section">
        {{ site.data.translations[page.lang].commission[0] }}<br /><span>{{ site.data.translations[page.lang].commission[1] }}</span>
      </div>
      <hr />
      <nav>
        <ul class="nav">
          {% for item in site.data.menu %}
          {% assign urlSize = item.url | size %}
          {% assign urlBase = page.url | slice: 4, urlSize %}
          {% if item.visible %}
          <li class="nav-item{% if urlBase == item.url and item.url != "" %} active{% endif %}">
            <a href="/{{ page.lang }}/{{ item.url }}">{{ item.label[page.lang] }}</a>
            {% if item.sub %}
            <ul class="nav">
              {% for subitem in item.sub %}
              {% if subitem.visible %}
              {% assign fullUrl = "/" | append: page.lang | append: "/" | append: subitem.url | append: "/" %}
              <li class="nav-item{% if page.url == fullUrl %} active{% endif %}"><a href="/{{page.lang}}/{{ subitem.url }}">{{ subitem.label[page.lang] }}</a></li>
              {% endif %}
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </nav>
      <hr />
      <div id="language">
        <a href="{% if page.trans %}{{ page.url | replace_first: page.lang, site.data.translations[page.lang].otherLang }}{% else %}/{{ site.data.translations[page.lang].otherLang }}{% endif %}">{{ site.data.translations[page.lang].translate }}</a>
      </div>
      <div id="footer-section">
        <ul>
          <li><a href="/{{ page.lang }}/{{ site.data.translations[page.lang].contextMenu[0].url }}">{{ site.data.translations[page.lang].contextMenu[0].label }}</a></li>
          <li><a href="/{{ page.lang }}/{{ site.data.translations[page.lang].contextMenu[1].url }}">{{ site.data.translations[page.lang].contextMenu[1].label }}</a></li>
          <li><a href="/{{ page.lang }}/{{ site.data.translations[page.lang].contextMenu[2].url }}">{{ site.data.translations[page.lang].contextMenu[2].label }}</a></li>
        </ul>
      </div>
    </div>
  
    <a class="off-canvas-overlay" href="#close"></a>
  
    <div class="off-canvas-content template-{{ page.layout }}">
      <div id="wrapper">
        {{ content }}

        {% include footer.html %}
      </div>
    </div>
  </div>
</body>
</html>